<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">

  <servers>
    <server>
      <id>Repository</id>
      <username>${client.id}</username>
      <password>${client.secret}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>mule</id>

      <repositories>
        <repository>
          <id>anypoint-exchange</id>
          <url>https://maven.anypoint.mulesoft.com/api/v3/organizations/ORG_ID/maven</url>
        </repository>
      </repositories>

      <pluginRepositories>
        <pluginRepository>
          <id>anypoint-exchange</id>
          <url>https://maven.anypoint.mulesoft.com/api/v3/organizations/ORG_ID/maven</url>
        </pluginRepository>
      </pluginRepositories>

    </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>mule</activeProfile>
  </activeProfiles>

</settings>
