name: Publish & Deploy

on:
  push:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: zulu
          java-version: 8

      - name: Build
        run: mvn -s .maven/settings.xml clean install -DskipTests

      - name: Deploy
        run: mvn -s .maven/settings.xml deploy -DmuleDeploy \
             -Dclient.id=${{ secrets.CONNECTED_APP_CLIENT_ID }} \
             -Dclient.secret=${{ secrets.CONNECTED_APP_CLIENT_SECRET }}
